{% extends 'base.html' %}

{% block content %}
    {% if courses %}
    <ul>
    {% for course in courses %}
        <li><a>{{course.course_name}}</a></li>
        {{taskForm}}
        <form method="POST">

            {% csrf_token %}
            <input type="submit" name="add task" value="add task">
           </form>
           
    {% endfor %}
    </ul>
{% else %}
    <p>No Courses have been added.</p>
{% endif %}

{{addCourse}}
        <form method="POST">

            {% csrf_token %}
            <input type="submit" name="add course" value="add course">
           </form>

{% endblock %}
